@import './vars.css';

::before,
::after,
* {
  box-sizing: border-box;
  margin: 0;
}

#app {
  display: flex;
  place-items: center;
  flex-direction: column;
  height: 100vh;
}

.btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--color-btn);
  color: var(--color-btn-text);
}

.btn:hover {
  background-color: var(--color-btn-hover);
}

a:-webkit-any-link {
  text-decoration: none;
}

.Vue-Toastification__toast.success-toast {
  background-color: var(--color-btn);
  color: var(--color-btn-text);
}

.Vue-Toastification__toast.error-toast {
  background-color: #c93522;
  color: var(--color-btn-text);
}
